# ====== CONFIGURACIÓN DEL CEREBRO DE IA (GITHUB MODELS) ======
OPENAI_BASE_URL="https://models.inference.ai.azure.com"
GITHUB_BASE_URL="https://models.inference.ai.azure.com"
OPENAI_EMBEDDINGS_URL="https://models.github.ai/inference"

# Coloca tu token real de GitHub (ej: github_pat_11A...) en AMBAS variables:
GITHUB_TOKEN="tu_github_token_aqui"
OPENAI_API_KEY="tu_github_token_aqui"


# ====== OBSERVABILIDAD Y TRAZABILIDAD (OPCIONAL) ======
LANGSMITH_TRACING="true"
LANGSMITH_API_KEY="tu_langsmith_api_key_aqui"
LANGSMITH_PROJECT="agente_meteorologico_ep2"


# ====== CONFIGURACIÓN DE CORREO SMTP (GMAIL) ======
SMTP_SERVER="smtp.gmail.com"
SMTP_PORT=587
EMAIL_REMITENTE="tu_correo_remitente@gmail.com"
EMAIL_PASSWORD="tu_password_de_aplicacion"
